/* style.css */

html
{
    box-sizing: border-box;
}

*
{
    background-color:pink;
}

.heading
{
    margin: 10px;
    margin-left: 0%;
    padding: 10px;
    border: 20px solid deeppink;
    background-color:hotpink;
    text-align: center;
    color: bisque;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 100px;
}

.chiyo
{
    margin: 1px 10px;
    margin-left: 0%;
    border: 20px solid deeppink;
    width: 30%;
    height: auto;
}