/* style.css */

body
{
    background-image: url("bg.gif");
}

a.nounderline
{
    font-family: 'Cursive standard';
    text-decoration: none;
}

.textbox
{
    color: white;
    padding: 1%;
    background-color:rgb(241, 144, 160);
    border-radius: 50px;
    box-shadow: 2px 3px 4px black;
}

.heading
{
    display: flex;
    justify-content: center;
    padding: 1%;
}

.chiyoskitchen
{
    background-color:rgb(241, 144, 160);
    padding: 1%;
    border-radius: 50px;
    box-shadow: 2px 3px 4px black;
}

.main
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.rounded
{
    border-radius: 50px;
}

.chiyo
{
    width: 200%; height: auto;
}
