/* style.css */

*
{
    background-color:pink;
}

.heading
{
    margin: 10px auto; padding: 10px; border: 20px solid deeppink;
    background-color: hotpink; color: bisque;
    text-align: center; font-family: fantasy; font-weight: normal; font-size: 50px;
    display: table;
}

.chiyo
{
    margin: 10px auto;
    width: 40%; height: auto;
}

#gif
{
    display: inline-block;
}

#list
{
    display: inline-block;
}